doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Color and type
    meta(name="viewport",content="width=device-width,initial-scale=1")
  body.color-and-type
    main.color-and-type__main
      include ../../../blocks/colors/colors.pug
      include ../../../blocks/fonts-and-tags/fonts-and-tags.pug