// Размеры экранов
$tablet: 855px;
$desktop: 1200px;
$bigdesktop: 1449px;
$superbigdesktop: 1860px;

// Цвета текста ссылок и кнопок
$weak-standard-font-color: rgba(31, 32, 65, 0.25);
$standart-font-color: rgba(31, 32, 65, 0.5);
$rich-standart-font-color: rgba(31, 32, 65, 0.75);
$very-rich-standart-font-color: rgba(31, 32, 65, 1);
$active-font-color: rgba(31, 32, 65, 0.1);
$hover-focus-font-color: rgba(31, 32, 65, 0.3);
$purple-color: #BC9CFF;
$purple-color-2: #8ba4f9;
$white-color: #fff;
$wrong-color: rgb(255, 0, 0);