// Размеры экранов
$tablet: 540px;
$desktop: 1200px;

// Цвета текста ссылок и кнопок
$standart-font-color: rgba(31, 32, 65, 0.5);
$rich-standart-font-color: rgba(31, 32, 65, 1);
$active-font-color: rgba(31, 32, 65, 0.1);
$hover-focus-font-color: rgba(31, 32, 65, 0.8);
$purple-color: #BC9CFF;