@import "./variables/variables.scss";
@import "./mixins/mixins.scss";

body {
	min-width: 320px;
	max-width: 1920px;
	overflow: scroll;
	background-color: #E5E5E5;
	@include standart-font-and-color;
	font-size: 14px;
	line-height: 17px;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
} 

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@font-face {
	font-family: Montserrat-Regular; 
	src: url("../fonts/montserrat/Montserrat-Regular.ttf");
} 

@font-face {
	font-family: Montserrat-Bold; 
	src: url("../fonts/montserrat/Montserrat-Bold.ttf");
} 

@import "./normalize/normalize.scss";
@import "./pages/headers-and-footers.scss";
@import "./blocks/composite-blocks/header.scss";
@import "./blocks/independent-blocks/logo.scss";
@import "./blocks/independent-blocks/main-nav.scss";
@import "./blocks/independent-blocks/login-register.scss";
@import "./blocks/independent-blocks/successful-login.scss";
@import "./blocks/composite-blocks/footer-big.scss";
@import "./blocks/composite-blocks/about-toxin.scss";
@import "./blocks/independent-blocks/second-nav.scss";
@import "./blocks/independent-blocks/subscribe.scss";