@import "./normalize/normalize.scss";
@import "./utils/fonts.scss";
@import "./variables/variables.scss";
@import "./mixins/mixins.scss";

body {
	min-width: 320px;
	overflow: scroll;
	@include standart-font-and-color;
}

.headers-and-footers {
	background-color: #f4f4f6;
}

.color-and-type {
	background-color: #fff;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
} 

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

@import "../../pages/main-pages/index.scss";
@import "../../pages/ui-kit-pages/headers-and-footers/headers-and-footers.scss";
@import "../../pages/ui-kit-pages/color-and-type/color-and-type.scss";
@import "../../blocks/header/header.scss";
@import "../../blocks/logo/logo.scss";
@import "../../blocks/main-nav/main-nav.scss";
@import "../../blocks/login-register/login-register.scss";
@import "../../blocks/successful-login/successful-login.scss";
@import "../../blocks/footer-big/footer-big.scss";
@import "../../blocks/about-toxin/about-toxin.scss";
@import "../../blocks/second-nav/second-nav.scss";
@import "../../blocks/subscribe/subscribe.scss";
@import "../../blocks/copyright-and-social/copyright-and-social.scss";
@import "../../blocks/copyright/copyright.scss";
@import "../../blocks/social-btns/social-btns.scss";
@import "../../blocks/second-footer/second-footer.scss";
@import "../../blocks/colors/colors.scss";
@import "../../blocks/main-font-color-100/main-font-color.scss";
@import "../../blocks/fonts-and-tags/fonts-and-tags.scss";
@import "../../blocks/form-input-subscribe/form-input-subscribe.scss";
@import "../../blocks/form-elements-group-1/form-elements-group-1.scss";