div.main-font-color
	div.main-font-color__color.main-font-color__color--100
	div.main-font-color__description
		div.main-font-color__color-name Dark Shade 100%
		div.main-font-color__color-code #1F2041