.social-btns {
	display: flex;
	width: 112px;
	justify-content: space-between;
	align-items: center;

	&--footer {
		margin: 15px auto 0 auto;
	}

}

.social-btns__btn {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	transition: 0.1s;

	&:active {
		opacity: 0.3;
		transform: scale(0.85);
	}
}

.social-btns__tw {
	background-image: url("../../blocks/social-btns/img/tw-icon.svg");
}

.social-btns__fb {
	background-image: url("../../blocks/social-btns/img/fb-icon.svg");
}

.social-btns__inst {
	background-image: url("../../blocks/social-btns/img/inst-icon.svg");
}

@media (min-width: $tablet) {

	.social-btns {
		display: flex;
		width: 112px;
		justify-content: space-between;
		align-items: center;

		&--footer {
			margin: 0;
		}
	}

	.second-footer__footer-wrapper .social-btns {

		&--footer {
			margin: 28px auto 0 auto;
		}
	}
}

@media (min-width: $bigdesktop) {

	.social-btns__btn {
		transition: 0.3s;

		&:hover,
		&:focus {
			opacity: 0.6;
			transform: scale(0.9);
		}

		&:active {
			transition: 0.1s;
			opacity: 0.3;
			transform: scale(0.85);
		}

	}
}