.form-input {
	box-sizing: border-box;
	width: 100%;
	padding: 9px 10px 9px 14px;
	font-size: 14px;
	line-height: 24px;
	color: $main-font-color-25;
	border: 1px solid $main-font-color-25;
	border-radius: 4px;
	transition: 0.5s;

	&:focus {
		color: $main-font-color-75;
		border: 1px solid $main-font-color-75;
	}

	&:focus::placeholder  {
		color: $main-font-color-75;
	}

	&--wrong {
		border: 1px solid $wrong-color;
		color: $wrong-color;
	}

	&--wrong::placeholder  {
		color: $wrong-color;
	}

	&--wrong:focus,
	&--wrong:hover {
		border: 1px solid $wrong-color;
		color: $wrong-color;
	}

	&--active {
		color: $main-font-color-75;
		border: 1px solid $main-font-color-75;
	}
}

.form-btn {
	position: absolute;
	width: 44px;
	height: 44px;
	background-color: transparent;
	border: none;
	right: 0;
	transition: 0.2s;

	&:active {
		transform: translateX(7px);
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

.form-arrow-line {
	display: block;
	position: absolute;
	height: 2px;
	background-color: $purple-color-1; 
	background-image: linear-gradient(180deg, $purple-color-1 0%, $purple-color-2 100%);

	&:first-child {
		width: 10px;
		top: 18px;
		right: 13px;
		transform: rotate(45deg);
	}

	&:nth-child(2) {
		width: 14px;
		right: 15px;
		top: 21px;
	}

	&:last-child {
		width: 10px;
		bottom: 18px;
		right: 13px;
		transform: rotate(-45deg);
	}
}

@media (min-width: $desktop) {


	.form-input {

		&:hover {
			color: $main-font-color-75;
			border: 1px solid $main-font-color-75;
		}

		&:hover::placeholder  {
			color: $main-font-color-75;
		}

		&--wrong::placeholder  {
			color: $wrong-color;
		}

		&--wrong:hover::placeholder  {
			color: $wrong-color;
		}

		&--wrong:focus,
		&--wrong:hover {
			border: 1px solid $wrong-color;
			color: $wrong-color;
		}
	}
}