section.colors
	include ../main-font-color-100/main-font-color-100.pug
	include ../main-font-color-75/main-font-color-75.pug
	include ../main-font-color-50/main-font-color-50.pug
	include ../main-font-color-25/main-font-color-25.pug
	include ../main-font-color-05/main-font-color-05.pug
	include ../purple/purple.pug
	include ../green/green.pug
