nav.main-nav.main-nav--header
	div.main-nav__btn(aria-label="Показать меню")
		span.main-nav__line.main-nav__line--1
		span.main-nav__line.main-nav__line--2
		span.main-nav__line.main-nav__line--3
		span.main-nav__line.main-nav__line--4
		span.main-nav__line.main-nav__line--5
	ul.main-nav__list.nojs
		li.main-nav__list-item.main-nav__list-item--here
			a.main-nav__list-link Home
		li.main-nav__list-item
			a.main-nav__list-link About Us
		li.main-nav__list-item.main-nav__list-item--can-open
			a.main-nav__list-link Services
		li.main-nav__list-item
			a.main-nav__list-link Careers
		li.main-nav__list-item
			a.main-nav__list-link News
		li.main-nav__list-item
			a.main-nav__list-link Documentation
