nav.main-nav.main-nav--header
	ul.main-nav__list
		li.main-nav__list-item
			a.main-nav__list-link.main-nav__list-link--here Home
		li.main-nav__list-item
			a.main-nav__list-link About Us
		li.main-nav__list-item.main-nav__list-item--can-open
			a.main-nav__list-link Services
		li.main-nav__list-item
			a.main-nav__list-link Careers
		li.main-nav__list-item
			a.main-nav__list-link News
		li.main-nav__list-item
			a.main-nav__list-link Documentation
