nav.second-nav
	div.second-nav__list-wrapper
		h3.second-nav__title Navigation
		ul.second-nav__list
			li.second-nav__list-item
				a(href="#").second-nav__list-link About Us
			li.second-nav__list-item
				a(href="#").second-nav__list-link News
			li.second-nav__list-item
				a(href="#").second-nav__list-link Support
			li.second-nav__list-item
				a(href="#").second-nav__list-link Products
	div.second-nav__list-wrapper
		h3.second-nav__title About us
		ul.second-nav__list
			li.second-nav__list-item
				a(href="#").second-nav__list-link Who we are
			li.second-nav__list-item
				a(href="#").second-nav__list-link Our team
			li.second-nav__list-item
				a(href="#").second-nav__list-link Careers
			li.second-nav__list-item
				a(href="#").second-nav__list-link Investors
	div.second-nav__list-wrapper
		h3.second-nav__title Support
		ul.second-nav__list
			li.second-nav__list-item
				a(href="#").second-nav__list-link Documentation
			li.second-nav__list-item
				a(href="#").second-nav__list-link Community
			li.second-nav__list-item
				a(href="#").second-nav__list-link Get in Touch