div.subscribe.subscribe--footer
	h3.subscribe__title Subscribe to our newsletter
	p.subscribe__main-text Receive our latest news and promotions in your inbox!
	form.subscribe__form
		input(placeholder="Your email address" type="email").subscribe__form-input
		button.subscribe__form-btn
			div.subscribe__form-arrow-line
			div.subscribe__form-arrow-line
			div.subscribe__form-arrow-line