@mixin standart-font-and-color () {
	font-family: 'Montserrat-Regular', sans-serif;
	color: $standart-font-color;
} 


@mixin bold-standart-font-no-color () {
	font-family: 'Montserrat-bold', sans-serif;
} 

@mixin bold-standart-font-color-black () {
	font-family: 'Montserrat-bold', sans-serif;
	color: $rich-standart-font-color;
} 

@mixin bold-standart-font-color-purple () {
	font-family: 'Montserrat-bold', sans-serif;
	color: $purple-color;
}

@mixin bold-standart-font-color-white () {
	font-family: 'Montserrat-bold', sans-serif;
	color: $white-color;
} 