div.subscribe.subscribe--footer
	h3.subscribe__title Subscribe to our newsletter
	p.subscribe__main-text Receive our latest news and promotions in your inbox!
	form.subscribe__form
		include ../form-input-subscribe/form-input-subscribe.pug