.subscribe {
	width: 60%;

	&--footer {
		margin: 20px auto 0 auto;
	}
}


.subscribe__title {
	margin: 0 0 19px 0;
	@include third-level-title;
	font-size: 11.3px;
	text-align: center;
}

.subscribe__main-text {
	font-size: 13.7px;
	line-height: 24px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	color: $main-font-color-75;
	margin-bottom: 20px;
}

.subscribe__form {
	position: relative;
	max-width: 213px;
	margin: 0 auto;
}

.subscribe__form-btn {
	position: absolute;
	width: 44px;
	height: 44px;
	background-color: transparent;
	border: none;
	right: 0;
	transition: 0.2s;

	&:active {
		transform: translateX(7px);
		outline: none;
	}

	&:focus {
		outline: none;
	}
}

.subscribe__form-arrow-line {
	display: block;
	position: absolute;
	height: 2px;
	background-color: $purple-color-1; 
	background-image: linear-gradient(180deg, $purple-color-1 0%, $purple-color-2 100%);

	&:first-child {
		width: 10px;
		top: 18px;
		right: 13px;
		transform: rotate(45deg);
	}

	&:nth-child(2) {
		width: 14px;
		right: 15px;
		top: 21px;
	}

	&:last-child {
		width: 10px;
		bottom: 18px;
		right: 13px;
		transform: rotate(-45deg);
	}
}

@media (min-width: $tablet) {

	.subscribe {
		width: 22.4%;
		min-width: 190px;
		padding-top: 4px;

		&--footer {
			margin: 0;
		}
	}

	.subscribe__title {
		text-align: left;
	}

	.subscribe__main-text {
		text-align: left;
		width: auto;
		margin: auto;
		margin-bottom: 23px;
	}

	.subscribe__form {
		max-width: none;
		margin: 0;
	}

}

@media (min-width: $desktop) {

	.subscribe {

		&--footer {
			margin-left: 5%;
		}
	}

	.subscribe__form-btn {

		&:hover,
		&:focus {
			transform: scale(1.1);
		}

		&:active {
			transform: scale(1.1) translateX(7px);
		}
	}
}

@media (min-width: $superbigdesktop) {

		.subscribe {

			&--footer {
				margin-left: auto;
		}
	}
}