.checkbox__label {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}

.checkbox__input {
	display: none;

	&:checked + .checkbox__visual {
		border: 1px solid $purple-color-1;

		&::before {
			content: "";
			background-image: url("../../blocks/checkbox/img/checked.svg");
			background-repeat: no-repeat;
			background-position: 4px 3px;
		}
	}
}

.checkbox__visual {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid $inactive-checkbox;
	margin-right: 10px;

	&::before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
	}
}

.checkbox__text {

	color: $main-font-color-50;
	line-height: 18px;
	max-width: 192px;
	margin-top: 1px;

	&::before {
		content: "Можно курить";
	}
}