div.may-checkboxes.form-elements-group-2--input-margin
	div.may-checkboxes__text-block
		h3.may-checkboxes-title Checkbox Buttons
	div.may-checkboxes__checkbox-group
		div.may-checkboxes__checkbox-1
			include ../checkbox/checkbox.pug
		div.may-checkboxes__checkbox-2
			include ../checkbox/checkbox.pug
		div.may-checkboxes__checkbox-3
			include ../checkbox/checkbox.pug