div.about-toxin.about-toxin--footer  
  include ../logo/logo.pug
  p.about-toxin__main-text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.