doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title index
    meta(name="viewport",content="width=device-width,initial-scale=1")
    script(src='/dist/main.js')
  body
    include ../includes/UI kit/composite-blocks/header-no-login.pug
