.fonts-and-tags {
	max-width: 403.5px;

	&--margin {
		margin: 100px auto;
	}

}

.fonts-and-tags__examples {
	display: flex;
}

.fonts-and-tags__examples:not(:last-child) {
	margin-bottom: 50px;
}

.fonts-and-tags__examples:last-child {
	margin-top: -2px;
}

.fonts-and-tags__tag {
	color: $main-font-color-25;
	min-width: 37px;
	text-align: right;
	margin-right: 7.5%;
}

.fonts-and-tags__examples:nth-child(1) .fonts-and-tags__tag {
	font-size: 24px;
	line-height: 29px;
}

.fonts-and-tags__examples:nth-child(1) .fonts-and-tags__characteristic {
	@include first-level-title;
}

.fonts-and-tags__examples:nth-child(2) .fonts-and-tags__tag {
	font-size: 19px;
	line-height: 23px;
}

.fonts-and-tags__examples:nth-child(2) .fonts-and-tags__characteristic  {
	@include second-level-title;
}

.fonts-and-tags__examples:nth-child(3) .fonts-and-tags__tag {
	font-size: 12px;
	line-height: 15px;
}

.fonts-and-tags__examples:nth-child(3) .fonts-and-tags__characteristic  {
	@include third-level-title;
}

.fonts-and-tags__examples:nth-child(4) .fonts-and-tags__tag {
	font-size: 14px;
	line-height: 24px;
}

.fonts-and-tags__examples:nth-child(4) .fonts-and-tags__characteristic{
	@include standart-font-and-color;
}

@media (min-width: $bigdesktop) {

	.fonts-and-tags {
		width: 403.5px;

		&--margin {
			margin: 0 3.5% 0 0;
		}
	}
}