.fonts-and-tags {
	margin-right: 3.5%;
}

.fonts-and-tags__examples {
	display: flex;
	width: 395px;
}

.fonts-and-tags__tag {
	color: $main-font-color-25;
	width: 37px;
}

.fonts-and-tags__examples:nth-child(1) .fonts-and-tags__tag {
	font-size: 24px;
	line-height: 29px;
}

.fonts-and-tags__examples:nth-child(1) .fonts-and-tags__characteristic {
	@include first-level-title;
}

.fonts-and-tags__examples:nth-child(2) .fonts-and-tags__tag {
	font-size: 19px;
	line-height: 23px;
}

.fonts-and-tags__examples:nth-child(2) .fonts-and-tags__characteristic  {
	@include second-level-title;
}

.fonts-and-tags__examples:nth-child(3) .fonts-and-tags__tag {
	font-size: 12px;
	line-height: 15px;
	text-align: right;
}

.fonts-and-tags__examples:nth-child(3) .fonts-and-tags__characteristic  {
	@include third-level-title;
}

.fonts-and-tags__examples:nth-child(4) .fonts-and-tags__tag {
	font-size: 14px;
	line-height: 24px;
}

.fonts-and-tags__examples:nth-child(4) .fonts-and-tags__characteristic{
	@include standart-font-and-color;
}

.fonts-and-tags__characteristic {

}