// Первый шрифт

@font-face {
	font-family: Montserrat-Regular; 
	src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Montserrat-Bold; 
	src: url("../fonts/montserrat/Montserrat-Bold.ttf");
} 

// Второй шрифт

@font-face {
	font-family: Quicksand-Bold; 
	src: url("../fonts/quicksand/Quicksand-Bold.ttf");
} 

@font-face {
	font-family: Quicksand-Regular; 
	src: url("../fonts/quicksand/Quicksand-Regular.ttf");
} 
