doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title index
    meta(name="viewport",content="width=device-width,initial-scale=1")
  body
    include ../../../blocks/header/header-no-login/header-no-login.pug
    include ../../../blocks/header/header-login/header-login.pug
    include ../../../blocks/footer-big/footer-big.pug
    include ../../../blocks/second-footer/second-footer.pug
    div.js-off
