.copyright-and-social {
	border-top: 1px solid  $super-weak-standard-font-color;
	padding: 23px 0 23px 0; 

	&--footer {
		margin-top: 30px;
	}
}

@media (min-width: $tablet) {

	.copyright-and-social {

	&--footer {
		margin-top: 0;
		}
	}

	.copyright-and-social__wrapper {
		width: 80%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: $desktop)  {

	.copyright-and-social__wrapper {
		max-width: 1170px;
		width: 61%;
	}
}