doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title index
    meta(name="viewport",content="width=device-width,initial-scale=1")
  body.index-img
    h1.index-img__title Страницы с шаблонами
    div.index-img__wrapper
      a.index-img-link(href="headers_and_footers.html") Хедеры и футеры
        img.index-img-pick(src="assets/img/Headers & Footers.jpg")
      a.index-img-link(href="color-and-type.html") Цвета и заголовки
        img.index-img-pick(src="assets/img/Colors & Type.jpg")    
