doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title index
    meta(name="viewport",content="width=device-width,initial-scale=1")
  body
    h1 Jggf
    a(href="headers_and_footers.html") Хедеры и футеры
    p Ads