footer.main-footer.main-footer--margin
	div.main-footer__footer-wrapper
		include ../about-toxin/about-toxin.pug
		include ../second-nav/second-nav.pug
		include ../subscribe/subscribe.pug
	include ../copyright-and-social/copyright-and-social.pug