header.main-header.main-header--margin
	div.main-header__wrapper
		include ../independent-blocks/logo.pug
		include ../independent-blocks/main-nav.pug
		include ../independent-blocks/login-register.pug
