.copyright {
	color: $rich-standart-font-color;

	&--copyright-and-social {
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
}


@media (min-width: $tablet) {

	.copyright {

		&--copyright-and-social {
			width: auto;
			margin: 0;
			text-align: left;
			}
		}
}